protobuf<5
requests==2.32.3
notebook==6.5.5
fsspec==2024.10.0
chromadb==0.5.5
pypika==0.48.9
posthog==3.5.0
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-exporter-otlp==1.25.0
langchain==0.3.7
langchain-core==0.3.25
langchain-community==0.3.7
langchain-chroma==0.1.4
langchain-huggingface==0.1.2
langchainhub==0.1.21
transformers==4.45.2
sentence-transformers==3.1.1
accelerate==0.34.2
bitsandbytes==0.43.3
pypdf==4.3.1
gradio==4.44.0